@font-face {
    font-family: 'Font1';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/JUA.woff') format('woff')
}

@font-face {
    font-family: 'digital';
    src: url('./fonts/digital-7.woff') format('woff');
}

.App {
    height: 100vh;
    z-index: -2;
}

.App:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: -2;
}

.Bar {
    padding: 1rem;
    display: flex;
    align-items: center;
}

.Title {
    font-family: 'Font1';
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.ScrambleType {
    width: 6rem;
    height: 2rem;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    margin-left: 2rem;
}

.Icon {
    width: 2.5rem;
    height: 2.5rem; 
}

.Content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: absolute;
    top: 0;
}

.Timer {
    font-family: 'digital';
    font-size: 15rem;
}

.Timer:before {
    font-family: 'digital';
    content: '88';
    position: absolute;
    z-index: -1;
}

.Timer > span {
    font-family: 'digital';
    
    margin-top: 6rem;
    font-size: 7rem;
}

.Timer > span:before {
    content: '88';
    margin-top: 6rem;
    position: absolute;
    margin-top: 6rem;
    z-index: -1;

    font-family: 'digital';
}

@media screen and (max-width: 600px) {
    html {
      font-size: 10px;
    }
}